<footer class="app-footer">
  <div class="footer-container">
    
    <div class="footer-col logo-col">
      <img src="app/assets/ifce-logo.png" alt="Instituto Federal Ceará" class="footer-logo">
    </div>

    <div class="footer-col">
      <h4>Sobre nós</h4>
      <ul>
        <li>
          <a href="#">
            <span class="icon material-icons">book</span> Políticas de Privacidade
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon material-icons">security</span> Termos e condições
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Sobre o ENEM</h4>
      <ul>
        <li>
          <a href="#">
            <span class="icon material-icons">book</span> Matriz de Referência
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>