<div class="modal-overlay" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">

    <div class="modal-header">
      <h2>Nova Simulação</h2>
      <button class="btn-close" (click)="closeModal()">
        <span class="material-symbols-outlined">close</span>
      </button>
    </div>

    <div class="modal-body">

      <div class="strategy-tabs">
        <button [class.active]="strategy === 'exact_exam'" (click)="strategy = 'exact_exam'">Prova Oficial</button>
        <button [class.active]="strategy === 'manual'" (click)="strategy = 'manual'">Manual</button>
        <button [class.active]="strategy === 'random'" (click)="strategy = 'random'">Aleatório</button>
        <button [class.active]="strategy === 'filtered'" (click)="strategy = 'filtered'">Com Filtros</button>
      </div>

      <div class="form-group full-width title-box">
        <label>Título (Opcional)</label>
        <input type="text" [(ngModel)]="title" placeholder="Ex: Meu Treino de Humanas 2015">
      </div>

      @if (strategy === 'exact_exam') {
      <app-exact-exam-form (payloadChange)="updateChildPayload($event)"></app-exact-exam-form>
      }

      @if (strategy === 'random') {
      <app-random-exam-form (payloadChange)="updateChildPayload($event)"></app-random-exam-form>
      }

      @if (strategy === 'manual') {
      <app-manual-exam-form (payloadChange)="updateChildPayload($event)"></app-manual-exam-form>
      }
      @if (strategy === 'filtered') {
      <div class="placeholder-state">
        <span class="material-symbols-outlined">construction</span>
        <p>O formulário de <b>Filtros Avançados</b> (Quarto tipo) será desenvolvido no futuro.</p>
      </div>
      }
    </div>

    <div class="modal-footer">
      <button class="btn-cancel" (click)="closeModal()" [disabled]="isLoading">Cancelar</button>
      <button class="btn-create" (click)="createSimulation()" [disabled]="isLoading">
        @if (isLoading) {
        <span class="material-symbols-outlined spinner"
          style="font-size: 18px; animation: spin 1s linear infinite;">sync</span>
        A processar...
        } @else {
        Criar Simulação
        }
      </button>
    </div>

  </div>
</div>